body {
    font-family: Arial, sans-serif;
    background-color: #84a8d1c2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #bccee0;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    
    border-radius: 8px;
}


.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.formgroup {
    margin-bottom: 15px;
}

.formgroup label {
    display: block;
    margin-bottom: 5px;
}

.formgroup input[type="text"],
.formgroup input[type="email"],
.formgroup input[type="tel"],
.formgroup input[type="date"],
.formgroup input[type="number"],
.formgroup input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.formgroup .gender-options {
    display: flex;
    align-items: center;
}

.formgroup .gender-options label {
    margin-right: 10px;
}

.formgroup .gender-options input {
    margin-right: 5px;
}

.formgroup input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #082f59;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.formgroup input[type="submit"]:hover {
    background-color: #0056b3;
}